:root {
    --color-primary: #FD377E;
    --color-primary-2: #E34981;
    --color-secondary:#03B898;
    
    --color-grey-1: #F8F9FA;
    --color-grey-2: #E9ECEF;
    --color-grey-3: #868E96;
    --color-grey-4: #212529;
    --color-white: #FFFFFF;

    --font-primary: 'Nunito', sans-serif;

    --font-weight-1: 400;
    --font-weight-2: 500;
    --font-weight-3: 700;
    --font-weight-4: 800;

    --font-size-1: 12px;
    --font-size-2: 16px;
    --font-size-3: 22px;
    --font-size-4: 38px;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-white);
    color: var(--color-grey-4);
}