.title1 {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
    line-height: 48px;
    letter-spacing: 0em;
}


.title2 {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-3);
    line-height: 34px;
    letter-spacing: 0em;
}


.title3 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-3);
    line-height: 30px;
    letter-spacing: 0em;
}


.title4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;    
}


.headline {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
    line-height: 26px;
    letter-spacing: 0em;
}